{% extends "PrestaShopBundle:Admin:layout.html.twig" %}
{% block content %}
Moja lista
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
  {% for comment in data %}
    <tr>
      <th scope="row">{{comment.id}}</th>
      <td>{{comment.name}}</td>
      <td class="active">{{comment.description}}</td>
      <td>{{comment.price}}</td>
      <td>
      <a href={{path("blog_delete",{id:comment.id})}} type="button" class="btn btn-outline-primary">Delete </a> 
      <a href={{path("blog_update",{id:comment.id})}}type="button" class="btn btn-outline-primary">Update</a>
      <a href={{path("blog")}}type="button" class="btn btn-outline-primary">Dodaj</a>
      </td>
    </tr>
  {% endfor %}
    
   
  </tbody>
</table>

{% endblock %}